.saved-item {

  & {
    display: block;
    padding: 5px;
    width: 120px;
    height: 120px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    background: transparent;
    border: 3px solid #9c9183;
    cursor: pointer;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.13);
    border: 3px solid #c5b7a5;
  }

  .item {
    width: 100%;
    height: 45%;

    clear: both;
  }

  .cost {
    width: 100%;
    height: 45%;

    text-align: center;
    clear: both;
  }

  .item-image {
    float: left;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #9c9183;
    background: rgba(83, 77, 70, 0.438);
    border-radius: 5px;
  }

}