body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disclaimer {
  margin: 10px auto;
  font-size: 0.6em;
  opacity: 0.3;

  text-align: center;
}
.disclaimer a {
  color: #ff0;
}
